<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Blog</title>
    {% block stylesheets %}{% endblock %}


</head>

<body>
{% block body %}
<div class="container">
    {% block header %}{% endblock %}
    {% block carousel %}{% endblock %}
</div>
<main role="main" class="container">
    <div class="row">
    {% block content %} {% endblock %}
    </div><!-- /.row -->

</main><!-- /.container -->
    {% block footer %}{% endblock %}

    {% block javascripts %}{% endblock %}
{% endblock %}

</body>
</html>

